/*-- Body Reset --*/
body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #616971;
  }
  /* navigation */
  .navbar-brand img{
    height: 3rem;
    border-radius: 50%;
  }
  .navbar{
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1) ;
    z-index: 1;
  }
  .nav-item{
    padding: .5rem;
  }
  .nav-link{
    color: rgb(105, 101, 101)!important;
  }
  .nav-link:hover {
    color: #f5f230!important;
  }
    .collapse{
    padding-right: 0 !important;
  }
  .list{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
  }
  .list-item{
    padding: auto;
    list-style: none;
  }

  /* hero section */
  .jumbotron{
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    opacity: ;
  }
  .id-img{
    height: 200px!important;
    border-radius: 50%;
    border: solid 2px;
    border:hover:#f5f230
  }
  .jumboCopy{
  align-items: center;
  }

  /* footer */
  footer{
    height: 150px!important;
    width: auto!important;
    margin-top: 1rem;
  }
  ul{
    list-style: none;
    display: flex;
    justify-content: center;
  }
  li{
    padding-left: 2rem;
  }
  .section-header{
    border-right: 3px solid #232425;
  }
  .py-1{
    align-self: flex-end;
  }
  
  